input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.file {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-gap: 1em;
}

.file img {
  max-width: 100%;
  max-height: 170px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.file a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trash {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cross_red_circle.svg/768px-Cross_red_circle.svg.png);
  background-size: contain;
  width: 30px;
  display: block;
  height: 30px;
  top: 0;
  right: 0;
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

.file p {
  text-align: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}