.form-group.required .control-label:after {
    content: "*";
    color: #FF8519;
}

.form-check-input:checked {
    background-color: #FF8519;
    border-color: #FF8519;
}

input:invalid {
    border: 2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}