body {
    overflow-x: hidden;
}

.logo-juan-factura {
    max-width: 270px;
    width: 100%;
}

.container_header_factura {
    padding-top: 10px;
}

.container_datos_clientes {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo_metodo_pago {
    background-color: #eeeeee;
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-left: 8%;
}

.titulo_productos_pago {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 8%;
}

.titulo_datos_empresa {
    color: white;
    text-align: center;
}

.productos_pago {
    display: flex;
}

.subtitulo_pago {
    margin-left: 7%;
}

.titulo {
    background-color: #eeeeee;
    margin-left: -2%;
}

.total {
    background-color: #eeeeee;
    margin-bottom: 10px;
    margin-left: 8%;
}