h1, h3, p, label{
    font-family: 'Rubik', sans-serif;
    font-size: 2.5em;
}

h2, h4, a{
    font-family: 'Maven Pro', sans-serif;
    font-size: 2em;
    color: #373737;
}

h2{
    text-align: center;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}

p{
    font-size: 14px;
}

a, label{
    font-size: 1.5em;
    color: #121212;
}

body{
    margin: 0;
}

section{
    position: relative;
}

form{
    margin: 0px;
}

.container_flex{
    display: flex;
    justify-content: flex-start;
}

.direction_row{
    flex-direction: row;
}

.width-50{
    width: 50%;
}

.guia_title{
    border-bottom: solid;
    color: black;
    width: 70%;
    margin: 30px auto 10px auto;
    text-align: center;
}

.guia_container{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.guia_container_item{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: flex;
    align-items: center;
}

.color{
    width: 80%;
    height: 125px;
    padding-left: 20%;
}

span{
    border-style: solid;
    border-color: black;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    line-height: 1.6em;
    margin-right: 20px;
    width: 1.6em; 
}
  
span.gris {
    background: #eeeeee;
}
  
span.orange {
    background: #FF7600;
}

span.orange_suave {
    background: #FF8519;
}
  
span.negro {
    background: #121212;
}
  
span.gris_oscuro {
    background: #373737;
}

.tipografia{
    width: 90%;
    flex-direction: column;
}

.tipografia h1, .tipografia h2, .tipografia h3, .tipografia h4, .tipografia a{
    margin: 20px 0px 10px 0px;
}

.div-margin-vertical{
    margin: 15px 0px 5px 0px;
}

.tipografia p{
    margin: 5px 0px;
}

.texto-naranja{
    color: #FF7600;
}

.hover-naranja:hover{
    color: #FF7600;
}

ul{
    list-style: none;
}

.justify-text{
    text-align: justify;
}

.center-content{
    display: flex;
    justify-content: center;
}

.direction-column{
    flex-direction: column;
    align-items: center;
}

.padd-horizontal-3{
    padding-left: 3%;
    padding-right: 3%;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.no-margin{
    margin: 0px;
}

.text-bold-bigger{
    font-weight: bold;
    font-size: 18px;
}

.height-50{
    height: 50px;
}

@media only screen and (min-width: 767px){
    p{
        font-size: 20px;
    }

    .text-bold-bigger{
        font-size: 22px;
    }
}