html,
body {
    background-color: #eeeeee;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 240px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.card-header h3 {
    color: black !important;
    font-weight: bold;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FF8519;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 38px;
    margin-right: 0px;
    background-color: #FF8519;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #eeeeee;
    font-weight: bold;
    border: solid 1px #FF8519;
    background-color: #FF8519;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}