/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: #FF8519;
}

.logo-navbar-mobile{
    height: 36px;
}

.top-navbar-mobile{
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: #FF8519;
    z-index: 200;
    border-top: 3px solid #000;
}

.top-navbar-mobile a{
    color: #000;
    width: 100%;
    display: inline-block;
    padding: 10px 12px;
    font-size: 18px;
    text-decoration: none;
}

.top-navbar-mobile a:active, .top-navbar-mobile a:hover{
    background-color: #eeeeee;
}

.top-navbar-submenu a{
    padding: 10px 0px 10px 32px;
}

.menu-index-point{
    display: flex;
    justify-content: space-between;
}

.menu-index-point input{
    width: 24px;
    height:24px;
    margin: 5px 20px;
}

.logo-juan{
    width: 50%;
    max-width: 270px;
}
  
header input{
    border-radius: 50%;
}

.btn-carro-mobile{
    border-radius: 50%;
    margin: 8px;
    height: 32px;
    border: 5px solid #121212;
}

@media only screen and (min-width: 767px) {
    header {
        padding-left: 10%;
        padding-right: 10%;
        height: 100px;
    }
      
    header img{
        height: 100px;
    }
      
    header a{
        padding: 20px;
        color: #373737;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }
      
    header a:hover{
        color: #121212;
    }

    header a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #121212;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    header a:hover:after { 
        width: 80%; 
        left: 10%; 
    }
      
    header input{
        border-radius: 50%;
    }
      
    .top-navbar{
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }

    .header-dropdown-content {
        display: none;
        position: absolute;
        background-color: #eeeeee;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
         
    .header-dropdown-content a{
        color: #121212;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .header-dropdown-content a:after{
        background: #FF8519;
        height: 2px;
    }
    
    .header-dropdown-content a:hover:after{
        width: 100%; 
        left: 0;
    }
    
    .header-dropdown-content a:hover {
        background-color: #eeeeee;
    }
    
    .header-dropdown-menu:hover .header-dropdown-content {
      display: block;
    }
}


/*FOOTER*/
.logo-mobile{
    height: 80px;
}

.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    background-color: #373737;
}

footer h3, footer a{
    color: #eeeeee !important;
}
  
footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
footer div{
    font-size: 14px;
}
  
footer h3{
    text-align: center;
    padding-top: 20px;
}

.footer-lista{
    padding: 5px 10%;
}
  
ul a{
    font-size: 1.2em;
}
  
.rrss-icons{
    display: contents;
    justify-content: center;
    align-items: center;
}

.rrss-icons ul{
    padding-left: 0px;
}
  
.rrss-icons img{
    height: 50px;
}
  
.logo{
    height: 100px;
}
  
.rrss-icons ul li{
    display: inline-block;
    padding-right: 15px;
}

@media only screen and (min-width: 767px) {
    footer section{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-title{
        width: 100%;
        font-size: 1.5em;
    }

    .rrss-icons ul li{
        padding-left: 15px;
    }

    .rrss-icons{
        display: flex;
    }
}