/**OBJETO PRODUCTO**/
.container-producto, .productos-lista, .producto-item, .producto-rating{
  display: flex;
}

.container-producto{
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.productos-lista{
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  padding: 30px 5% 0px 5%;
}

.producto-item{
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 8%;
  margin: 15px 0px;
  background-color: #eeeeee;
  border: 3px solid #FF7600;
  border-radius: 2%;
}

.producto-item img{
  max-width: 340px;
  padding-bottom: 10px;
}

.producto-rating{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cortar-texto{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.producto-item-titulo{
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.producto-item-descripcion{
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.info-inpt{
  border: none;
  background-color: rgba(255, 119, 0, 0);
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1em;
}

.info-inpt:hover{
  color: #FF7600;
}

.mas-info:hover{
  color: #FF7600;
}

@media only screen and (min-width: 767px) {
  .producto-item{
    width: 420px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    height: 670px;
  }

  .producto-item img{
    width: auto;
    height: 300px;
    max-width: 410px;
  }
}

/**CESTA**/
.btn-cesta-minus{
  background: url('../img/icons/minus.png');
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  display: block;
  color: #fff;
  cursor: pointer;
}

.btn-cesta-plus{
  background: url('../img/icons/plus.png');
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  display: block;
  color: #fff;
  cursor: pointer;
}

.item-cesta{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  margin: 0px 10px;
  height: fit-content;
  width: 250px;
}

.separator{
  height: 1px;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #eeeeee;
}

.item-cesta img{
  height: 75px;
  max-width: 98px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.item-cesta label{
  font-size: 0.8em;
  font-weight: bold;
}

.item-cesta a{
  font-size: 1em;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.changeQuantity{
  display: flex;
  justify-content: space-around;
  width: 80px;
  padding-left: 10px;
  padding-top: 10px;
}

.deleteProd-btn{
  padding-left: 100px;
  margin: 0;
}

.deleteProd-btn input[type=submit]{
  background: url('../img/icons/delete.png');
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  display: block;
  color: #fff;
  cursor: pointer;
}

.item-cesta div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.item-cesta label{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.item-cesta p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.item-cesta a{
  color: #FF7600;
}

.btn-carro{
  border-radius: 50%;
  margin: 8px;
  height: 40px;
  border: 5px solid #121212;
}

.cesta {
  position: absolute;
  top: 85px;
  right: 0px;
  border-radius: 10px 0px 0px 10px;
  z-index: 99;
  width: 300px;
  height: fit-content;
  max-height: 70%;
  background-color: white;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 10px 2px #7c7c7c;
}

.scrollable-products{
  overflow-y: scroll;
  height: fit-content;
  max-height: 350px;
}

.cesta h3{
  margin: 10px;
  padding-left: 20px;
}

.cesta-empty{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 767px) {
  .cesta{
    top: 100px;
    right: 15px;
    border-radius: 10px;
    max-height: 88%;
  }

  .scrollable-products{
    max-height: 600px;
  }
}

/**DETALLES**/
.detalle-container{
    width: fit-content;
    padding: 0px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalle-container-desktop{
  width: 100%;
}

.detalle-container-slide{
  width: 70%; 
  min-width: 400px;
  float: left; 
  padding: 30px;
  display: none;
}

.detalle-titulo{
    width: 90%;
    margin: 5px auto;
}

.detalle-imagen{
    max-width: 400px; 
    max-height: 300px; 
    width: 80%;
    padding: 10px 10%;
    align-self: center;
    display: block;
}

.detalle-precio, .detalle-categoria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detalle-categoria{
    justify-content: space-between;
}

.btn-submit{
  padding: 12px 20px;
  background-color: #FF8519;
  color: #eeeeee;
  border: 1px solid #373737;
  border-radius: 5px;
  font-size: 20px;
}

.btn-submit:hover{
  background-color: #FF7600;
}

.btn-submit:active{
  color: #373737;
}

.cesta-checkout{
  width: 90%;
  padding: 8px 20px;
  margin: 0px 5% 10px 5%;
}

@media only screen and (min-width: 767px) {
  .detalle-container-desktop{
    display: flex;
    flex-direction: column;
  }

  .detalle-container{
    flex-direction: row;
  }

  .detalle-container-slide{
    display: block;
  }

  .detalle-imagen{
    display: none;
  }

  .detalle-titulo{
    float: right;
    width: 80%;
    min-width: 250px;
    padding-top: 20px;
  }

  .detalle-categoria{
    padding: 0px 15%;
  }

}