.mobile {
    display: block;
}

.desktop {
    display: none;
}

.container-quienes-somos,
.quienes-somos-descripcion,
.nuestra-tienda,
.container-mapa,
.container-noticias,
.noticias,
.noticia-left,
.noticia-right,
.noticias-subtitulo {
    display: flex;
}


/*****QUIENES SOMOS*****/

.container-quienes-somos {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.quienes-somos-descripcion {
    flex-direction: column;
    margin: 0px 10%;
}

.quienes-somos-descripcion img {
    border-radius: 2%;
    margin: 0px 10%;
    height: auto;
}

.nuestra-tienda {
    justify-content: center;
    padding-top: 0px;
}


/*Slideshow*/

.mySlides {
    display: none
}

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
}

.img-slideshow {
    vertical-align: middle;
    height: auto;
    width: 750px;
    border-radius: 5px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #373737;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: #FF8519;
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #373737;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #FF8519;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

.tienda-mobile {
    width: 80%;
    margin: 18px 10%;
    height: auto;
}


/*****DONDE ESTAMOS*****/

.container-mapa {
    justify-content: space-around;
    align-items: center;
}

.mapa {
    width: 90%;
    min-width: 300px;
    height: 400px;
    border-radius: 8px;
    border: 2px solid black;
    margin: 0px 5%;
}

.info_mapa {
    font-size: 1em;
}


/*****NOTICIAS*****/

.container-noticias {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.noticias {
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 90%;
    padding: 20px 5% 0px 5%;
}

.noticias img {
    width: 260px;
    height: 230px;
}

.noticia-left {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #eeeeee;
    border: solid 2px #FF7600;
    border-radius: 10px;
}

.noticia-right {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #eeeeee;
    border: solid 2px #FF7600;
    border-radius: 10px;
    text-align: left;
}

.noticia-left img {
    border: solid 2px #121212;
    border-radius: 10px;
}

.noticia-right img {
    border: solid 2px #121212;
    border-radius: 10px;
}

.noticias-subtitulo {
    justify-content: space-between;
}

.noticias ul {
    padding: 0px 20px;
}

/*****Listado Admin*****/

.basura {
    background: url('../img/icons/delete.png');
    background-size: cover;
    border: none;
    height: 30px;
    width: 30px;
    display: block;
    color: #fff;
    cursor: pointer;
}

.editar {
    background: url('../img/icons/editar.png');
    background-size: cover;
    border: none;
    height: 30px;
    width: 30px;
    display: block;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}

.caja-editar {
    margin-top: 30px;
}

.botones-editar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-guardar {
    margin-right: 25px;
}

@media only screen and (min-width: 767px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .info_mapa {
        font-size: 1.3em;
        padding-right: 100px;
    }
    .mapa {
        width: 700px;
        height: 600px;
        margin-left: 150px;
    }
    .quienes-somos-descripcion {
        flex-direction: row;
        align-items: center;
    }
    .quienes-somos-descripcion img {
        width: 300px;
        height: 300px;
        max-width: 300px;
        padding-right: 40px;
        margin: 0px;
        border-radius: 0%;
    }
    .nuestra-tienda {
        padding-top: 30px;
    }
    .noticias {
        width: 70%;
        padding: 20px 15% 0px 15%;
    }
    .noticia-left {
        flex-direction: row;
    }
    .noticia-right {
        flex-direction: row;
        text-align: right;
    }
    .noticia-left img {
        margin-right: 25px;
    }
    .noticias img {
        width: 500px;
        height: 400px;
    }
    .noticias-subtitulo {
        display: block;
    }
    .noticia-right img {
        margin-left: 25px;
    }
}

.compra-finalizada-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}